/* Version: 1.1.0 */

:root {
    --s-cal-background: #fafafa;
    --s-cal-foreground: #333;
    --s-cal-accent: #0A84FF;
    --s-cal-border: #bdbdbd;
    --s-cal-hover: #eee;
}

/* Input element */

.s-cal-input {
    background-color: var(--s-cal-background);
    color: var(--s-cal-foreground);
    border: 1px solid var(--s-cal-border);
    padding: .5em;
    font-size: 1rem;
    max-width: min-content;
    margin: 0 auto;
    border-radius: .5em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    appearance: none;
    outline: none;
    width: 4.5em;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

/* Popup calendar */

.s-cal-popup {
    font-size: 1rem;
    position: absolute;
    /* Centered */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: var(--s-cal-background);
    color: var(--s-cal-foreground);
    border: 1px solid var(--s-cal-border);
    border-radius: 1em;
    width: 19em;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    /* Hidden by default */
    opacity: 0;
    scale: 1;
    transition: scale .25s cubic-bezier(.09, .5, .5, 1.4), opacity .25s ease;
    pointer-events: none;
}

.s-cal-popup.s-cal-popup-open {
    scale: 1;
    opacity: 1;
    pointer-events: all;
}

/* Navigation */

.s-cal-nav-wrapper {
    display: grid;
    grid-template-columns: .5fr 2.5fr .5fr 1fr .5fr 1.5fr .5fr;
    text-align: center;
    vertical-align: middle;
}

div.s-cal-nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-cal-select {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

.s-cal-month-prev, .s-cal-month-index, .s-cal-month-next, .s-cal-year-prev, .s-cal-year-index, .s-cal-year-next {
    cursor: pointer;
}

div.s-cal-nav-button.disabled {
    opacity: .33;
    cursor: default;
}

/* Basic calendar layout */

.s-cal-weekdays-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    vertical-align: middle;
    gap: .5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.s-cal-month-viewport{
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100%;
    gap: 5em;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.s-cal-month-viewport::-webkit-scrollbar {
    display: none;
}

.s-cal-month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    vertical-align: middle;
    gap: .25em;
    min-width: 100%;
    scroll-snap-align: start;
}

/* Individual date */

.s-cal-date {
    aspect-ratio: 1;
    text-align: center;
    vertical-align: middle;
    border-radius: 999px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-cal-date.s-cal-date-primary.s-cal-date-enabled {
    cursor: pointer;
    transition: background-color .1s;
}

.s-cal-date.s-cal-date-primary.s-cal-date-enabled:hover{
    background-color: var(--s-cal-hover);
}

.s-cal-date.s-cal-date-primary.s-cal-date-active, .s-cal-date.s-cal-date-primary.s-cal-date-active:hover{
    background-color: var(--s-cal-accent);
    color: #fff;
}

.s-cal-date-disabled {
    opacity: .5;
}

.s-cal-date-prev .s-cal-date-label, .s-cal-date-next .s-cal-date-label {
    opacity: .15;
}

.s-cal-date-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .0625em;
    margin: .25em;
    aspect-ratio: 1;
}

.s-cal-date-top{
    height: 0.25em;
}

.s-cal-date-bottom {
    display: flex;
    flex-direction: row;
    gap: .125em;
    min-height: 0.25em;
}

.s-cal-dot {
    height: 0.25em;
    width: 0.25em;
    border-radius: 999px;
    background-color: var(--s-cal-foreground);
    display: none;
}

.s-cal-date-prev .s-cal-dot, .s-cal-date-next .s-cal-dot {
    display: none;
}

.s-cal-date-disabled .s-cal-dot {
    display: none;
}